<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Simple calc</title>
    {{ encore_entry_link_tags('app') }}

    {{ encore_entry_script_tags('app') }}
</head>
<body>
<div id="vue-app">
    <h1>test</h1>
</div>
</body>
</html>